#############################
# Maven
#############################

target/

#############################
# Java
#############################

*.class
*.jar
*.war
*.ear

#############################
# Eclipse
#############################

.classpath
.project
.settings/

#############################
# IntelliJ IDEA
#############################

.idea/
*.iml

#############################
# VS Code
#############################

.vscode/

#############################
# Logs
#############################

*.log

#############################
# Temporary Files
#############################

*.tmp
*.temp

#############################
# Operating System
#############################

Thumbs.db
.DS_Store